<p>todo works!</p>

<!-- Create
Read
Update
Delete -->

<section class="todo">
    <input type="text" [(ngModel)]="todoName" />
    <button (click)="onBtnClick(todoName)">Add new Todo</button>
    
    
    <!-- {{todoName}} -->
    
    <!-- <ul>
        <li *ngFor="let todo of todoListData; let i = index;">
            <app-todo-item [todoData]="todo" [indexData]="i"></app-todo-item>
        </li>
    </ul> -->
    
    <ul class="todo__list">
        <li *ngFor="let todo of todoDB; let i = index;">
            <app-todo-item [todoItemData]="todo" [indexData]="i"></app-todo-item>
        </li>
    </ul>
</section>
