.todo-item {
    border: 1px solid #333;
    margin: 30px;
}

.description {
    font-size: 30px;
    color: darkblue;
    background-color: #ccc;
}

.date {
    border-top: 1px solid rgba(0,0,0, .2);
    border-bottom: 1px solid rgba(0,0,0, .2);
    padding: 0 20px;
}

//media query aby móc zarządzać responsywnością

@media only screen and (max-width: 500px) {
    .description {
        background-color: #fff;
    }
}