<!-- {{todoData}}
{{indexData}} -->

<!-- <p>{{todoItemData.id}}</p> -->
<!-- <div class="todo-item">
    <p class="description">{{todoItemData.description}}</p>

    <input type="text" [(ngModel)]="todoItemData.description" />

    <p>{{todoItemData.date | date: 'dd/MM/yy'}}</p>
    <p>{{todoItemData.isDone}}</p>
    <button (click)="onTodoItemDelete(indexData)">Delete</button>
</div> -->

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input 
                [(ngModel)]="todoItemData.isDone" 
                type="checkbox" 
                aria-label="Checkbox for following text input" />
        </div>
    </div>

    <input 
        [(ngModel)]="todoItemData.description"
        [disabled]="todoItemData.isDone"
        type="text"
        class="form-control" 
        aria-label="Text input with checkbox" />

    <div class="input-group-append">
        <span class="date">{{todoItemData.date | date: 'dd/MM/yy'}}</span>
    </div>

    <div class="input-group-append">
        <button (click)="onTodoItemDelete(indexData)" class="btn btn-outline-secondary" type="button">Delete</button>
    </div>
</div>