<!-- / (slasz przeniesie nas na home, inaczej localhost:4200) -->

<nav class="nav">
    <!-- za ustawianie elmentów za pomocą flexboxa odpowiada rodzic -->
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__link" routerLink="/">Home</a>
        </li>

        <li class="nav__item">
            <a class="nav__link" routerLink="/dashboard">Dashboard</a>
        </li>

        <li class="nav__item">
            <a class="nav__link" routerLink="/app">My App</a>
        </li>

        <li class="nav__item">
            <a class="nav__link" routerLink="/todo">Todo</a>
        </li>
    </ul>
</nav>


<!-- Ostatnią rzeczą jest podanie miejsca 
gdzie mamy wyrendorować nasz komponent -->
<router-outlet></router-outlet>

<!-- <app-first></app-first>
<app-second></app-second>
<app-third></app-third> -->
