.nav {
    background-color: #fff;
    box-shadow: 0 5px 6px rgba(0,0,0, .1);
    padding: 30px;
}

.nav__list {
    // domyślne działanie flexa
    // to jest ustawienie dzieciaków
    // w osi x (w rzędzie)
    display: flex;
    list-style: none;
}

.nav__item {
    margin-right: 20px;
}