<h1>This is my best app</h1>
<p>And I'll do magic here!</p>

<p>first works!</p>

<!-- <app-second></app-second>
<app-third></app-third> -->

<!-- Stworzyć nowy komponent o nazwie todo -->
<!-- dodać nowy link/route w nawigacji -->
<!-- wyrenderować komponent todo po kliknięciu linku z nawigacji -->

ng g c components/todo