<p>third works!</p>
<!-- interpolacja stringa -->
{{myName}}
{{myAge}}

<!-- property binding -->
<!-- <img src={{myImageUrl}} alt="my photo" /> -->
<img id="img_id" class="img_class" [src]="myImageUrl" alt="my photo" />

<!-- event binding -->
<button (click)="onClick()">Click Me!</button>

<!-- to way data binding -->
<!-- aby móc używać ngModel musimy zaimporować FormsModule w app.module.ts -->
<input type="text" [(ngModel)]="myName" />

<!-- dyrektywa *ngIf -->
<div>
    <p *ngIf="isVisible">Hello! Jestem widoczny</p>
    <!-- dyrektywa atrybutu -->
    <!-- Metodologia nazewnicta klass CSS BEM  -->
    
    <div class="box" [ngClass]="{'box--color': isVisible}">
    
    </div>

    <button (click)="onShowText()">
        {{btnText}} text
    </button>
</div>

<!-- dyrektywa *ngFor -->
<ul class="name-list">
    <li class="name-list__item" *ngFor="let name of names; let i = index;">{{name}}_{{i}}</li>
</ul>