// odwołanie po nazwie tagu
img {
    height: 100px;
    // width: 100%;
}
// odwołanie po id
// #img_id {

// }

// odwołanie po klasie
// .img_class {

// }

.box {
    height: 100px;
    width: 100px;
    border: 1px dashed #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box--color {
    background-color: darkgoldenrod;
}